.container {
    width: 20%;
    padding: 30px;
    height: auto;
    text-align: center;
}

.container a img{
    border: 5px solid black;
    box-sizing: border-box;
}
.container a img:hover{
    filter:brightness(50%);
    border :5px solid red;
}


.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.genres {
    display: flex;
    margin: 10px 0;
}
.genres li{
    margin-right: 10px;
    font-size: 13px;
    color: #ccc;
}
.sum {
    color: #ccc;
}

@media screen and (max-width:1000px){
    .container {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .container h2{
        font-size: 2rem;
    }
    .genres {
        margin: 30px 0;
        flex-wrap: wrap;
    }
    .sum{
        margin-right: 30px;
    }
}